<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>@ViewBag.Title | Trip Manager</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="~/lib/materialize/dist/css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="top-nav">
            <div class="container">
                <div class="nav-wrapper">
                    <a class="page-title">@ViewBag.Title</a>
                </div>
            </div>
        </nav>
        <ul id="nav-mobile" class="side-nav fixed">
            <li class="logo">
                <a href="" id="logo-container" class="brand-logo">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <img class="img-circle" src="~/img/user.png" alt="profile" />
                        <span id="username">@User.Identity.Name</span>
                    }
                    else
                    {
                        <img src="~/img/map.png" alt="logo" />
                        <span id="username">Trip Manager</span>
                    }
                </a>
            </li>
            <li class="bold">
                <a asp-controller="App" asp-action="Index" class="waves-effect waves-teal">Home</a>
            </li>
            <li class="bold">
                <a asp-controller="App" asp-action="About" class="waves-effect waves-teal">About</a>
            </li>
            <li class="bold">
                <a asp-controller="App" asp-action="Contact" class="waves-effect waves-teal">Contact</a>
            </li>
            @if (User.Identity.IsAuthenticated)
            {
                <li class="bold">
                    <a asp-controller="App" asp-action="Trips" class="waves-effect waves-teal">Trips</a>
                </li>
                <li class="bold">
                    <a asp-controller="Auth" asp-action="Logout" class="waves-effect waves-teal">Logout</a>
                </li>
            }
        </ul>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col s12 m9 l12">
                    @RenderBody()
                </div>
            </div>
        </div>
    </main>
    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                © @DateTime.Now.Year Trip Manager
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/materialize/dist/js/materialize.min.js"></script>
    @RenderSection("scripts", false)
    <script type="text/javascript" src="~/js/script.js"></script>
</body>
</html>